* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  background: #171a21;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*  HEADER AREA  */
.nav {
  padding: 20px 50px;
}

.logo {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.logo:hover {
  letter-spacing: 1.15px;
}

.logo-detail {
  color: #3872fc;
}

.nav-top {
  background: #292c34;
}

.nav-bottom {
  background: #23262d;
  padding: 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list li {
  border-bottom: 2px solid transparent;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  padding: 15px 50px;
}

.nav-list li:hover {
  border-bottom: 2px solid #3b75fa;
}

.nav-list li a {
  color: #fff;
}

/*  HEADER AREA  */



/*  BODY AREA  */
.player {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  gap: 50px;
  padding: 25px;
}

.player-profile {

  
  flex: 1;
  border-radius: 3px;
}

.container {
  background: #2E3139;
  flex: 5;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 300px;
  gap: 16px;
  padding: 25px;
}

.container .item {
  padding: 10px;
  font-weight: 800;
  font-size: 13px;
  padding-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #3C3E48;
  border-radius: 3px;
}

.container .item:nth-child(5) {
  grid-column: 2 / 4;
}



/*  BODY AREA  */